body {
    font-family: 'Open Sans', sans-serif; /* Sets the font for the entire page */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #F7F7F7; /* Soft, creamy white background */
}

header {
    background-color: #813588; /* Warm, sunny yellow background */
    color: white;
    padding: 10px 20px;
    text-align: center; /* Centers the text */
}

#top {
    font-size: 40px;
    margin: 0;
    flex-grow: 1; /* Allow the heading to grow and center itself */
    text-align: center; /* Centers the heading text */
    font-weight: bold; /* Makes the heading bold */
    color: #34A85A; /* Fun, bright green color */
}

main {
    padding: 20px;
    flex: 1;
}

#ques {
    text-align: left; /* Left-aligns the text */
    margin-bottom: 20px;
}

b {
    color: #34A85A; /* Fun, bright green color */
}

footer {
    background-color: #333; /* Dark gray background */
    color: white;
    text-align: center; /* Centers the footer text */
    padding: 10px;
    position: relative; /* Keeps the footer at the bottom */
    bottom: 0;
    width: 97.38%; /* Ensures the footer spans the width of the page */
}